@import '../../assets/scss/variables.scss';

.Section {
  &__content {
    display: flex;
    flex-direction: column; // Mobile por padrão
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.5rem;
    margin: 3rem 0;

    @include on-tablet {

    }

    @include on-desktop {
      flex-direction: row; // No desktop, volta ao normal
      align-items: start;
    }
  }

  &__img {
    @include on-desktop {
      width: 47%;
      max-width: 57rem;
      object-fit: contain;
    }
  }

  &__infos-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include on-desktop {
      width: 47%;
      height: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0;
  }

  &__card {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.Section__content--left {
  display: flex;
  flex-direction: column-reverse;

  @include on-desktop {
    flex-direction: row;
  }
}