@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './assets/scss/variables.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  width: 100%;
  min-width: 32rem;
  margin: 0 auto;
  padding-inline: 6rem;

  @include on-tablet {
    padding-inline: 8rem;
  }

  @include on-desktop {
    padding-inline: 10rem;
    max-width: 128rem;
  }
}